#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
button {
  font-size: large;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray;
}

input {
  font-size: xx-large;
}

input[type="radio"] {
  transform: scale(1.7);
}

input[type="radio"]:disabled {
  color: gray;
}

textarea {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea:disabled {
  color: gray;
}

label {
  font-size: x-large;
  margin-left: 1rem;
}

td {
  padding-bottom: 1rem;
}

.options {
  text-align: left;
}

.score {
  display: flex;
}
.score > div {
  width: 50%;
}

.submit {
  background-color: cornflowerblue;
  color: white;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  width: 40%;
  height: 10px;
  border-radius: 10px;
  background: rgb(224, 224, 244);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(1, 1, 61);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(1, 1, 61);
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.hide {
  display: none;
}

.mainDisplay {
  display: block;
}
